.header {
    height: 60px;
    background-color: #1b6d85;
    margin-bottom: 15px;
}

.header p {
    font-size: 15pt;
    color: white;
    padding-top: 0.68%;
    padding-left: 0.5%;
}

.modal-footer {
    background-color: #1b6d85;
}

.modal-footer p {
    color: white;
}

.boxing .page-header {
    font-weight: bold;
    font-size: 13pt;
}

#mydivAddClass {
    font-size: 13pt;
}
